In [17]:
import sqlite3
import pandas as pd

In [19]:
# Path to the database
db_path = '/users/gkb/desktop/Sandbox/Data/database.sqlite'

# Connect to the database
conn = sqlite3.connect(db_path)

# List all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)

# Display available tables
print("Tables in the database:")
print(tables)

Tables in the database:
                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [94]:
# Load the tables
player_query = "SELECT * FROM Player;"
player_df = pd.read_sql(player_query, conn)

player_attributes_query = "SELECT * FROM Player_Attributes;"
player_attributes_df = pd.read_sql(player_attributes_query, conn)

match_query = "SELECT * FROM Match;"
match_df = pd.read_sql(match_query, conn)

In [90]:
# basic dea

#1
print(player_df.head())
#2
print(player_df.shape)
#3
print(player_df.dtypes)
#4
nulls = player_df[player_df.isnull().any(axis=1)]
print(nulls.shape)

   id  player_api_id         player_name  player_fifa_api_id  \
0   1         505942  Aaron Appindangoye              218353
1   2         155782     Aaron Cresswell              189615
2   3         162549         Aaron Doran              186170
3   4          30572       Aaron Galindo              140161
4   5          23780        Aaron Hughes               17725

              birthday  height  weight
0  1992-02-29 00:00:00  182.88     187
1  1989-12-15 00:00:00  170.18     146
2  1991-05-13 00:00:00  170.18     163
3  1982-05-08 00:00:00  182.88     198
4  1979-11-08 00:00:00  182.88     154
(11060, 7)
id                      int64
player_api_id           int64
player_name            object
player_fifa_api_id      int64
birthday               object
height                float64
weight                  int64
dtype: object
(0, 7)

In [140]:
# descriptive statistics

#2
print(player_attributes_df['preferred_foot'].value_counts())

#3
oldies = player_df['birthday'][0:4]
print(oldies)

preferred_foot
right    138409
left      44733
Name: count, dtype: int64
0    1992-02-29 00:00:00
1    1989-12-15 00:00:00
2    1991-05-13 00:00:00
3    1982-05-08 00:00:00
Name: birthday, dtype: object