In [1]:
import sqlite3
import pandas as pd

In [5]:
# Path to the database
db_path = '/users/gkb/desktop/Sandbox/Data/database.sqlite'

# Connect to the database
conn = sqlite3.connect(db_path)

# List all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)

# Display available tables
print("Tables in the database:")
print(tables)

Tables in the database:
                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [7]:
# Load the Player table
player_query = "SELECT * FROM Player LIMIT 5;"  # Adjust LIMIT to view more rows
player_df = pd.read_sql(player_query, conn)
print(player_df)

   id  player_api_id         player_name  player_fifa_api_id  \
0   1         505942  Aaron Appindangoye              218353
1   2         155782     Aaron Cresswell              189615
2   3         162549         Aaron Doran              186170
3   4          30572       Aaron Galindo              140161
4   5          23780        Aaron Hughes               17725

              birthday  height  weight
0  1992-02-29 00:00:00  182.88     187
1  1989-12-15 00:00:00  170.18     146
2  1991-05-13 00:00:00  170.18     163
3  1982-05-08 00:00:00  182.88     198
4  1979-11-08 00:00:00  182.88     154